In [1]:
main_repo_dir = os.path.abspath(os.path.join('../..'))
sys.path.append(os.path.join(main_repo_dir, 'src'))

In [2]:
import datetime

In [3]:
import pandas

In [4]:
import utils

In [314]:
with open(os.path.join(main_repo_dir, "main_run.log"), "r") as f:
    log = f.readlines()

In [315]:
dates, entries = zip(*[(' '.join(line.split()[:3]), ' '.join(line.split()[3:])) for line in log])

In [316]:
dates = [datetime.datetime.strptime(date, '%m/%d/%Y %I:%M:%S %p') for date in dates]

In [317]:
log = pandas.DataFrame(data = {'entry' : entries}, index=dates)

In [318]:
log['day'] = [ent.strftime('%Y-%m-%d') for ent in log.index]

In [319]:
# Define which entry we're in
# There's got to be a better way to do this with an iterator...
entry_ind = -1

def update_entry(x):
    global entry_ind
    if x['entry'] == "Retrieving contents...":
        entry_ind += 1
    return(entry_ind)


# Flag Errors
def flag_error(x):
    text = x.entry.lower()
    if text.find('warning') > -1 or text.find('error') > -1:
        return(True)
    else:
        return(False)
    

def extract_err_class(error_text):
    start = error_text.find('<class ')
    end = error_text.find("'>:")
    if start > -1 and end > -1:
        err_class = error_text[start : (end + 2)]
    else:
        err_class = ''
    return(err_class)

In [320]:
log['entry_ind'] = log.apply(lambda x: update_entry(x), axis=1)
log['is_error'] = log.apply(lambda x: flag_error(x), axis=1)
log['err_class'] = log.entry.apply(lambda x: extract_err_class(x))

In [321]:
log.shape

(179534, 5)

In [322]:
log.head()

,entry,day,entry_ind,is_error,err_class
2017-01-20 12:49:21,Retrieving contents...,2017-01-20,0,False,
2017-01-20 12:49:21,Total feeedss to visit: 65,2017-01-20,0,False,
2017-01-20 12:49:22,IP Used: b'87.118.122.30',2017-01-20,0,False,
2017-01-20 12:49:26,Total entries retrieved from http://phys.org/r...,2017-01-20,0,False,
2017-01-20 12:49:26,Total new links added: 30,2017-01-20,0,False,

In [323]:
log.tail()

,entry,day,entry_ind,is_error,err_class
2017-03-14 06:09:06,Feed http://www.ft.com/rss/management/connecte...,2017-03-14,491,True,<class 'urllib.error.HTTPError'>
2017-03-14 06:09:08,No contents found,2017-03-14,491,False,
2017-03-14 06:09:10,Total entries retrieved from http://www.ft.com...,2017-03-14,491,False,
2017-03-14 06:09:10,Total new links added: 0,2017-03-14,491,False,
2017-03-14 06:09:10,Total new links added from all feeds: 86,2017-03-14,491,False,

## Investiate Errors

In [324]:
errors = log[log.is_error==True].copy()

In [325]:
errors.shape

(5653, 5)

In [326]:
errors.head()

,entry,day,entry_ind,is_error,err_class
2017-01-30 08:03:45,Error encountered: <class 'mysql.connector.err...,2017-01-30,82,True,<class 'mysql.connector.errors.DataError'>
2017-01-30 14:03:24,Error encountered: <class 'mysql.connector.err...,2017-01-30,88,True,<class 'mysql.connector.errors.DataError'>
2017-01-30 17:02:53,Error encountered: <class 'mysql.connector.err...,2017-01-30,91,True,<class 'mysql.connector.errors.DataError'>
2017-01-31 06:05:57,Error encountered: <class 'mysql.connector.err...,2017-01-31,93,True,<class 'mysql.connector.errors.DataError'>
2017-01-31 09:03:14,Error encountered: <class 'mysql.connector.err...,2017-01-31,96,True,<class 'mysql.connector.errors.DataError'>

In [327]:
errors.tail()

,entry,day,entry_ind,is_error,err_class
2017-03-13 18:08:50,Feed http://www.ft.com/rss/management/connecte...,2017-03-13,489,True,<class 'urllib.error.HTTPError'>
2017-03-14 05:08:13,Feed http://www.ft.com/rss/world/mideast/econo...,2017-03-14,490,True,<class 'urllib.error.HTTPError'>
2017-03-14 05:09:12,Feed http://www.ft.com/rss/management/connecte...,2017-03-14,490,True,<class 'urllib.error.HTTPError'>
2017-03-14 06:08:19,Feed http://www.ft.com/rss/world/mideast/econo...,2017-03-14,491,True,<class 'urllib.error.HTTPError'>
2017-03-14 06:09:06,Feed http://www.ft.com/rss/management/connecte...,2017-03-14,491,True,<class 'urllib.error.HTTPError'>

In [328]:
for e in errors.err_class.unique():
    print(e)

<class 'mysql.connector.errors.DataError'>
<class 'urllib.error.URLError'>
<class 'UnboundLocalError'>
<class 'KeyError'>
<class 'urllib.error.HTTPError'>
<class 'TypeError'>
<class 'mysql.connector.errors.DatabaseError'>

### Key Errors

In [47]:
ke = errors[errors.err_class=="<class 'KeyError'>"].copy()
ke.shape

(1088, 5)

In [48]:
ke.head()

,entry,day,entry_ind,is_error,err_class
2017-02-06 05:04:14,Feed http://hosted.ap.org/lineups/TOPHEADS.rss...,2017-02-06,150,True,<class 'KeyError'>
2017-02-06 05:04:15,Feed http://hosted.ap.org/lineups/USHEADS.rss?...,2017-02-06,150,True,<class 'KeyError'>
2017-02-06 05:04:17,Feed http://hosted.ap.org/lineups/WORLDHEADS.r...,2017-02-06,150,True,<class 'KeyError'>
2017-02-06 05:04:18,Feed http://hosted.ap.org/lineups/POLITICSHEAD...,2017-02-06,150,True,<class 'KeyError'>
2017-02-06 05:04:19,Feed http://hosted.ap.org/lineups/WASHINGTONHE...,2017-02-06,150,True,<class 'KeyError'>

In [49]:
len(ke.entry.unique())

157

In [50]:
ke.tail()

,entry,day,entry_ind,is_error,err_class
2017-02-10 21:02:54,Feed https://phys.org/rss-feed/earth-news/: <c...,2017-02-10,215,True,<class 'KeyError'>
2017-02-10 21:02:56,Feed https://phys.org/rss-feed/earth-news/eart...,2017-02-10,215,True,<class 'KeyError'>
2017-02-10 21:02:58,Feed https://phys.org/rss-feed/earth-news/envi...,2017-02-10,215,True,<class 'KeyError'>
2017-02-10 21:03:00,Feed https://phys.org/rss-feed/science-news/: ...,2017-02-10,215,True,<class 'KeyError'>
2017-02-10 21:03:02,Feed https://phys.org/rss-feed/science-news/ar...,2017-02-10,215,True,<class 'KeyError'>

Seem to be fixed

### Time Type Errors

In [51]:
te = errors[errors.err_class == "<class 'TypeError'>"].copy()
te.shape

(51, 5)

In [52]:
te.tail()

,entry,day,entry_ind,is_error,err_class
2017-03-09 05:05:37,Feed http://feeds.feedburner.com/breitbart?for...,2017-03-09,450,True,<class 'TypeError'>
2017-03-09 06:07:05,Feed http://feeds.feedburner.com/breitbart?for...,2017-03-09,451,True,<class 'TypeError'>
2017-03-09 07:05:53,Feed http://feeds.feedburner.com/breitbart?for...,2017-03-09,452,True,<class 'TypeError'>
2017-03-09 08:06:31,Feed http://feeds.feedburner.com/breitbart?for...,2017-03-09,453,True,<class 'TypeError'>
2017-03-09 09:05:33,Feed http://feeds.feedburner.com/breitbart?for...,2017-03-09,454,True,<class 'TypeError'>

In [53]:
len(te.entry.unique())

1

In [54]:
te.entry[0]

"Feed http://feeds.feedburner.com/breitbart?format=xml: <class 'TypeError'>: ('Tuple or struct_time argument required',)"

In [55]:
sys.path.append(os.path.join(os.path.abspath('../..'), 'src'))
sys.path.append(os.path.join(os.path.abspath('../..'), 'data'))

In [81]:
import utils
import scrape_feeds
import mysql_utils

In [82]:
from importlib import reload

In [133]:
reload(scrape_feeds)

In [108]:
feed_data = utils.load_feedlist_data('breitbart_feedlist.xml')

In [109]:
feed_data[0]

{'Link': 'http://feeds.feedburner.com/breitbart?format=xml',
 'RssName': 'All News',
 'Source': 'breitbart',
 'keymap': {'id': 'id',
  'link': 'id',
  'published_parsed': 'published_parsed',
  'summary': 'summary',
  'title': 'title'}}

In [110]:
rss_entry = feed_data[0]

In [111]:
contents = scrape_feeds.get_feed_contents(rss_entry)

In [112]:
len(contents)

46

In [113]:
contents[0]

{'link': 'http://www.breitbart.com/big-government/2017/03/13/state-of-tennessee-files-constitutional-challenge-to-refugee-resettlement-program/',
 'published': datetime.datetime(2017, 3, 13, 12, 24, 36),
 'rss_link': 'http://feeds.feedburner.com/breitbart?format=xml',
 'story_id': 'http://www.breitbart.com/big-government/2017/03/13/state-of-tennessee-files-constitutional-challenge-to-refugee-resettlement-program/',
 'summary': '<a href="http://www.breitbart.com/big-government/2017/03/13/state-of-tennessee-files-constitutional-challenge-to-refugee-resettlement-program/" title="State of Tennessee Files Constitutional Challenge to Refugee Resettlement Program"><img width="200" height="150" src="http://media.breitbart.com/media/2017/03/refugees-america-200x150.jpg" alt="" /></a><br /> The Thomas More Law Center filed a federal lawsuit on behalf of the Tennessee General Assembly and the State of Tennessee in the U.S. District Court for the Western District of Tennessee on Monday challenging the federal refugee resettlement program for violating the state’s sovereignty under the Tenth Amendment to the U.S. Constitution.<img src="http://feeds.feedburner.com/~r/breitbart/~4/A0RnyDT20-M" height="1" width="1" alt=""/>',
 'title': 'State of Tennessee Files Constitutional Challenge to Refugee Resettlement Program'}

In [115]:
mysql_utils.saveNewLinks(contents)

[]

In [77]:
type(contents[0]['published'])

datetime.datetime

In [78]:
from time import mktime, sleep, gmtime

In [79]:
gmtime()

time.struct_time(tm_year=2017, tm_mon=3, tm_mday=13, tm_hour=20, tm_min=34, tm_sec=15, tm_wday=0, tm_yday=72, tm_isdst=0)

In [80]:
type(gmtime())

time.struct_time

    Currently don't have an active example of the error...seems like every once in awhile an article has a time that is not like a time?  Code now forces all timestamps in "published" attribute to be [datetime.datetime, time.struct_time].

### 'UnboundLocalError'

In [117]:
ule = errors[errors.err_class == "<class 'UnboundLocalError'>"].copy()
ule.shape

(507, 5)

In [118]:
ule.head()

,entry,day,entry_ind,is_error,err_class
2017-02-06 05:03:19,Feed http://www.bbc.co.uk/blogs/theeditors/rss...,2017-02-06,150,True,<class 'UnboundLocalError'>
2017-02-06 06:03:13,Feed http://www.bbc.co.uk/blogs/theeditors/rss...,2017-02-06,151,True,<class 'UnboundLocalError'>
2017-02-06 07:03:09,Feed http://www.bbc.co.uk/blogs/theeditors/rss...,2017-02-06,152,True,<class 'UnboundLocalError'>
2017-02-06 08:04:13,Feed http://www.bbc.co.uk/blogs/theeditors/rss...,2017-02-06,153,True,<class 'UnboundLocalError'>
2017-02-06 09:03:35,Feed http://www.bbc.co.uk/blogs/theeditors/rss...,2017-02-06,154,True,<class 'UnboundLocalError'>

In [119]:
ule.tail()

,entry,day,entry_ind,is_error,err_class
2017-03-13 12:06:09,Feed http://www.bbc.co.uk/blogs/theeditors/rss...,2017-03-13,483,True,<class 'UnboundLocalError'>
2017-03-13 12:08:09,Feed http://rss.cnn.com/rss/cnn_showbiz.rss: <...,2017-03-13,483,True,<class 'UnboundLocalError'>
2017-03-13 13:00:28,Feed http://feeds.foxnews.com/foxnews/latest: ...,2017-03-13,484,True,<class 'UnboundLocalError'>
2017-03-13 13:04:47,Feed http://www.bbc.co.uk/blogs/theeditors/rss...,2017-03-13,484,True,<class 'UnboundLocalError'>
2017-03-13 13:06:14,Feed http://rss.cnn.com/rss/cnn_showbiz.rss: <...,2017-03-13,484,True,<class 'UnboundLocalError'>

In [123]:
for e in ule.entry.unique():
    print(e)
    print('\n')

Feed http://www.bbc.co.uk/blogs/theeditors/rss.xml: <class 'UnboundLocalError'>: ("local variable 'row_nbrs' referenced before assignment",)


Feed http://feeds.foxnews.com/foxnews/latest: <class 'UnboundLocalError'>: ("local variable 'row_nbrs' referenced before assignment",)


Feed https://www.wired.com/feed/: <class 'UnboundLocalError'>: ("local variable 'row_nbrs' referenced before assignment",)


Feed https://www.wired.com/category/gear/feed/: <class 'UnboundLocalError'>: ("local variable 'row_nbrs' referenced before assignment",)


Feed http://feeds.feedburner.com/breitbart?format=xml: <class 'UnboundLocalError'>: ("local variable 'row_nbrs' referenced before assignment",)


Feed http://rss.cnn.com/rss/cnn_showbiz.rss: <class 'UnboundLocalError'>: ("local variable 'row_nbrs' referenced before assignment",)

In [134]:
feed_data = utils.load_feedlist_data('foxnews_feedlist.xml')

In [135]:
rss_entry = feed_data[0]
rss_entry

{'Link': 'http://feeds.foxnews.com/foxnews/latest',
 'Name': 'Latest Headlines',
 'RssName': 'latest',
 'Source': 'foxnews',
 'keymap': {'id': 'link',
  'link': 'link',
  'published_parsed': 'published_parsed',
  'summary': 'summary',
  'title': 'title'}}

In [136]:
contents = scrape_feeds.get_feed_contents(rss_entry)

In [137]:
contents[0]

{'link': 'http://www.foxnews.com/politics/2017/03/13/trump-steps-up-obamacare-repeal-push-meets-with-laws-victims.html',
 'published': datetime.datetime(2017, 3, 13, 20, 41, 19),
 'rss_link': 'http://feeds.foxnews.com/foxnews/latest',
 'story_id': 'http://www.foxnews.com/politics/2017/03/13/trump-steps-up-obamacare-repeal-push-meets-with-laws-victims.html',
 'summary': '',
 'title': 'THE HARD SELL  Trump steps up ObamaCare repeal push, meets with law&rsquo;s &lsquo;victims&rsquo;'}

In [138]:
mysql_utils.saveNewLinks(contents)

[]

In [139]:
for c in contents:
    if len(c['title']) > 200:
        print(len(c['title']))

211
221

    Looks to be an issue with an overflow on the "title" variable...updated the MySQL table to accept up to 300 chars now.  Also added some "clean-up" code that truncates longer titles..
    
    From below: also looks to be issue with other missing data due to other errors...

### MySQL Connector Errors

In [174]:
err01 = "<class 'mysql.connector.errors.DataError'>"
err02 = "<class 'mysql.connector.errors.DatabaseError'>"

#### DB Error

In [175]:
dee = errors[errors.err_class==err02]
dee.shape

(58, 5)

In [143]:
dee.tail()

,entry,day,entry_ind,is_error,err_class
2017-03-02 16:04:57,Error encountered: <class 'mysql.connector.err...,2017-03-02,397,True,<class 'mysql.connector.errors.DatabaseError'>
2017-03-02 17:05:12,Error encountered: <class 'mysql.connector.err...,2017-03-02,398,True,<class 'mysql.connector.errors.DatabaseError'>
2017-03-03 05:04:44,Error encountered: <class 'mysql.connector.err...,2017-03-03,399,True,<class 'mysql.connector.errors.DatabaseError'>
2017-03-03 06:05:44,Error encountered: <class 'mysql.connector.err...,2017-03-03,400,True,<class 'mysql.connector.errors.DatabaseError'>
2017-03-03 07:07:07,Error encountered: <class 'mysql.connector.err...,2017-03-03,401,True,<class 'mysql.connector.errors.DatabaseError'>

In [144]:
len(dee.entry.unique())

1

In [155]:
dee.entry[-1]

'Error encountered: <class \'mysql.connector.errors.DatabaseError\'>: (1366, "1366 (HY000): Incorrect string value: \'\\\\xF0\\\\x9F\\\\x91\\\\x80 T...\' for column \'summary\' at row 1", \'HY000\')'

In [160]:
for e in log['2017-03-03 07:07:00':'2017-03-03 07:07:12']['entry']:
    print(e)

Total entries retrieved from https://www.wired.com/category/underwire/feed/: 10
Total new links added: 0
Total entries retrieved from https://www.wired.com/category/gear/feed/: 10
Error encountered: <class 'mysql.connector.errors.DatabaseError'>: (1366, "1366 (HY000): Incorrect string value: '\\xF0\\x9F\\x91\\x80 T...' for column 'summary' at row 1", 'HY000')
Feed https://www.wired.com/category/gear/feed/: <class 'UnboundLocalError'>: ("local variable 'row_nbrs' referenced before assignment",)
Total entries retrieved from https://www.wired.com/category/reviews/feed/: 10
Total new links added: 0

In [157]:
feed_data = utils.load_feedlist_data('wired_feedlist.xml')

In [161]:
for i,f in enumerate(feed_data):
    print(str(i) + ' ' + f['Link'])

0 https://www.wired.com/feed/
1 https://www.wired.com/category/business/feed/
2 https://www.wired.com/category/design/feed/
3 https://www.wired.com/category/underwire/feed/
4 https://www.wired.com/category/gear/feed/
5 https://www.wired.com/category/reviews/feed/
6 https://www.wired.com/category/science/feed/
7 https://www.wired.com/category/science/science-blogs/feed/
8 https://www.wired.com/category/security/feed/
9 https://www.wired.com/category/transportation/feed/
10 http://feeds.cnevids.com/brand/wired.mrss
11 https://www.wired.com/category/photo/feed/

In [162]:
rss_entry = feed_data[4]
rss_entry

{'Link': 'https://www.wired.com/category/gear/feed/',
 'RssName': 'Tech',
 'Source': 'wired',
 'keymap': {'id': 'id',
  'link': 'link',
  'published_parsed': 'published_parsed',
  'summary': 'summary',
  'title': 'title'}}

In [163]:
contents = scrape_feeds.get_feed_contents(rss_entry)

In [164]:
contents[0]

{'link': 'https://www.wired.com/2017/03/pandora-premium/',
 'published': datetime.datetime(2017, 3, 13, 14, 0, 24),
 'rss_link': 'https://www.wired.com/category/gear/feed/',
 'story_id': 'https://www.wired.com/?p=2171564',
 'summary': '<div class="rss_thumbnail"><img src="https://www.wired.com/wp-content/uploads/2017/03/PandoraHP-660x330.jpg" alt="Pandora Premium Can&#8217;t Hang With Spotify and Apple" /></div>There\'s really nothing groundbreaking about Pandora\'s new on-demand streaming service. The post <a href="https://www.wired.com/2017/03/pandora-premium/">Pandora Premium Can\'t Hang With Spotify and Apple</a> appeared first on <a href="https://www.wired.com">WIRED</a>.',
 'title': 'Pandora Premium Can’t Hang With Spotify and Apple'}

In [167]:
s = '\\xF0\\x9F\\x91\\x80 T...'
print(s)

\xF0\x9F\x91\x80 T...

In [170]:
contents[0]['link'] = 'test'
contents[0]['summary'] = s

In [171]:
contents[0]

{'link': 'test',
 'published': datetime.datetime(2017, 3, 13, 14, 0, 24),
 'rss_link': 'https://www.wired.com/category/gear/feed/',
 'story_id': 'https://www.wired.com/?p=2171564',
 'summary': '\\xF0\\x9F\\x91\\x80 T...',
 'title': 'Pandora Premium Can’t Hang With Spotify and Apple'}

In [172]:
mysql_utils.saveNewLinks(contents)

[64129]

    Seems to be a one-off awkward string error?  The value recorded in the error file must have been transposed from the original value because I cannot get the string to not write to the db...

#### Data Error

In [177]:
dee = errors[errors.err_class==err01]
dee.shape

(491, 5)

In [189]:
dee.tail().index

DatetimeIndex(['2017-03-13 12:06:09', '2017-03-13 12:08:09',
               '2017-03-13 13:00:28', '2017-03-13 13:04:47',
               '2017-03-13 13:06:14'],
              dtype='datetime64[ns]', freq=None)

In [179]:
len(dee.entry.unique())

4

In [180]:
dee.entry.unique()

array([ 'Error encountered: <class \'mysql.connector.errors.DataError\'>: (1406, "1406 (22001): Data too long for column \'story_id\' at row 1", \'22001\')',
       'Error encountered: <class \'mysql.connector.errors.DataError\'>: (1406, "1406 (22001): Data too long for column \'summary\' at row 1", \'22001\')',
       'Error encountered: <class \'mysql.connector.errors.DataError\'>: (1406, "1406 (22001): Data too long for column \'title\' at row 1", \'22001\')',
       'Error encountered: <class \'mysql.connector.errors.DataError\'>: (1406, "1406 (22001): Data too long for column \'link\' at row 1", \'22001\')'], dtype=object)

In [265]:
str(log[str(dee.tail().index[0] - 0*sec)]['entry'][1])

'Feed http://www.bbc.co.uk/blogs/theeditors/rss.xml: <class \'UnboundLocalError\'>: ("local variable \'row_nbrs\' referenced before assignment",)'

In [197]:
sec = pandas.tslib.Timedelta('1 second')

In [229]:
def get_err_contexts(errs):
    contexts = []
    for ind in errs.index:
        i = 1
        success = False
        while not success:
            sub = list(log[str(ind - i*sec)]['entry'])
            if len(sub)== 0:
                i += 1
                if i > 3:
                    success=True
            else:
                success = True
                contexts.append({'index' : str(ind),
                                 'context' :sub})
    return(contexts)

In [230]:
cons = get_err_contexts(dee)

In [252]:
cons[-5:]

[{'context': ['Total entries retrieved from http://www.bbc.co.uk/blogs/theeditors/rss.xml: 15'],
  'index': '2017-03-13 12:06:09'},
 {'context': ['Total entries retrieved from http://rss.cnn.com/rss/cnn_showbiz.rss: 29'],
  'index': '2017-03-13 12:08:09'},
 {'context': ['Total entries retrieved from http://feeds.foxnews.com/foxnews/latest: 38'],
  'index': '2017-03-13 13:00:28'},
 {'context': ['Total entries retrieved from http://feeds.bbci.co.uk/news/have_your_say/rss.xml: 19',
   'Total new links added: 0'],
  'index': '2017-03-13 13:04:47'},
 {'context': ['Total entries retrieved from http://rss.cnn.com/rss/cnn_health.rss: 30',
   'Total new links added: 0'],
  'index': '2017-03-13 13:06:14'}]

In [242]:
for i in range(-5,0):
    print(dee[cons[i]['index']]['entry'][0])

Error encountered: <class 'mysql.connector.errors.DataError'>: (1406, "1406 (22001): Data too long for column 'summary' at row 1", '22001')
Error encountered: <class 'mysql.connector.errors.DataError'>: (1406, "1406 (22001): Data too long for column 'link' at row 1", '22001')
Error encountered: <class 'mysql.connector.errors.DataError'>: (1406, "1406 (22001): Data too long for column 'title' at row 1", '22001')
Error encountered: <class 'mysql.connector.errors.DataError'>: (1406, "1406 (22001): Data too long for column 'summary' at row 1", '22001')
Error encountered: <class 'mysql.connector.errors.DataError'>: (1406, "1406 (22001): Data too long for column 'link' at row 1", '22001')

In [292]:
reload(scrape_feeds)

In [293]:
feed_data = utils.load_feedlist_data('bbcnews_feedlist.xml')

In [294]:
for i,f in enumerate(feed_data):
    print(str(i) + ' ' + f['Link'])

0 http://feeds.bbci.co.uk/news/front_page/rss.xml
1 http://feeds.bbci.co.uk/news/world/rss.xml
2 http://feeds.bbci.co.uk/news/uk/rss.xml
3 http://feeds.bbci.co.uk/news/england/rss.xml
4 http://feeds.bbci.co.uk/news/northern_ireland/rss.xml
5 http://feeds.bbci.co.uk/news/scotland/rss.xml
6 http://feeds.bbci.co.uk/news/wales/rss.xml
7 http://feeds.bbci.co.uk/news/business/rss.xml
8 http://feeds.bbci.co.uk/news/health/rss.xml
9 http://feeds.bbci.co.uk/news/education/rss.xml
10 http://feeds.bbci.co.uk/news/science_and_environment/rss.xml
11 http://feeds.bbci.co.uk/news/technology/rss.xml
12 http://feeds.bbci.co.uk/news/magazine/rss.xml
13 http://feeds.bbci.co.uk/news/rss.xml
14 http://feeds.bbci.co.uk/news/politics/rss.xml
15 http://feeds.bbci.co.uk/news/science_and_environment/rss.xml
16 http://feeds.bbci.co.uk/news/entertainment_and_arts/rss.xml
17 http://feeds.bbci.co.uk/news/world/africa/rss.xml
18 http://feeds.bbci.co.uk/news/world/asia/rss.xml
19 http://feeds.bbci.co.uk/news/world/europe/rss.xml
20 http://feeds.bbci.co.uk/news/world/latin_america/rss.xml
21 http://feeds.bbci.co.uk/news/world/middle_east/rss.xml
22 http://feeds.bbci.co.uk/news/world/us_and_canada/rss.xml
23 http://feeds.bbci.co.uk/news/video_and_audio/news_front_page/rss.xml?edition=uk
24 http://feeds.bbci.co.uk/news/video_and_audio/world/rss.xml
25 http://feeds.bbci.co.uk/news/video_and_audio/uk/rss.xml
26 http://feeds.bbci.co.uk/news/video_and_audio/business/rss.xml
27 http://feeds.bbci.co.uk/news/video_and_audio/politics/rss.xml
28 http://feeds.bbci.co.uk/news/video_and_audio/health/rss.xml
29 http://feeds.bbci.co.uk/news/video_and_audio/science_and_environment/rss.xml
30 http://feeds.bbci.co.uk/news/video_and_audio/technology/rss.xml
31 http://feeds.bbci.co.uk/news/video_and_audio/entertainment_and_arts/rss.xml
32 http://feeds.bbci.co.uk/news/also_in_the_news/rss.xml
33 http://feeds.bbci.co.uk/news/in_pictures/rss.xml
34 http://feeds.bbci.co.uk/news/special_reports/rss.xml
35 http://feeds.bbci.co.uk/news/have_your_say/rss.xml
36 http://www.bbc.co.uk/blogs/theeditors/rss.xml
37 http://news.bbc.co.uk/sport1/hi/help/rss/default.stm

In [295]:
rss_entry = feed_data[36]
rss_entry

{'Link': 'http://www.bbc.co.uk/blogs/theeditors/rss.xml',
 'RssName': 'Editors Blog',
 'Source': 'bbc',
 'keymap': {'id': 'id',
  'link': 'link',
  'published_parsed': 'published_parsed',
  'summary': 'summary',
  'title': 'title'}}

In [296]:
contents = scrape_feeds.get_feed_contents(rss_entry)

In [269]:
from bs4 import BeautifulSoup as bs

In [284]:
for c in contents:
    flag = False
    if len(c['title']) > 200:
        flag = True
    if len(c['link']) > 200:
        flag = True
    if len(c['summary']) > 5000:
        flag = True
    if flag:
        print(c)

In [297]:
for i in range(len(contents)):
    print(contents[i]['summary'])
    print('\n')

As of Thursday, the Editors' blog will move to a different address on the BBC News website.
While this page will no longer be updated, it will stay here for reference.


We've had a huge response to our class calculator this week, particularly across social media, following a major survey by BBC Lab UK. The survey suggests that traditional categories of working, middle and upper class are outdated and we all fit in to one of seven new classes.

The class calculator - which lets you work out where you might fit in amongst the new categories - has attracted about six million page views on the BBC News site, making it the second most popular article of 2013 to date. (The most viewed article this year has been the helicopter crash in Vauxhall in January.) Nearly 1.9 million of those views have come from those of you accessing the site on mobiles and tablets.

But one thing that really stands out is how widely the story has been shared across social media, with more than 300,000 shares so far. More than a quarter of links to the calculator have come from social networking sites.
More than half a million referrals came from Facebook alone, and about 107,000 from Twitter. This is a much higher number than we usually see shared across social media. If you compare the class calculator with the other top stories of the week, usually about 5% of known referrals come from social media sites.

So why has it proven so popular with our audience? Michael Orwell, a producer at BBC Lab UK, worked closely on the survey and said one of the best things about the project was that the audience contributed to new research with top academics.
The calculator itself, produced by the BBC News Visual Journalism team in collaboration with BBC Knowledge and Learning, lets everyone engage with the new model and discover where they might fit in.
Steve Herrmann is editor of the BBC News website.




On Tuesday we are releasing an update to the BBC News iPhone and iPad app in the UK designed to make the app faster and more stable, with bigger, better quality images on the home screen.


We are busy doing some research and thinking at the moment about what people are looking for in our News apps in the longer term, but we thought that in the meantime, it was important to fix one or two bugs affecting some users of the existing app and to make it a better, slicker experience overall.
We want to make sure the current app remains a great way to get a quick overview of the top stories across a wide range of subjects, easy-to-scan on a mobile and, once the stories have loaded, handy to read offline too.
So, it will now be quicker to start up the app and to update it, and it should feel smoother and faster as you scroll and swipe through the screens and stories.
The larger homescreen images we've introduced serve two purposes:
first, you can see what's in them more clearly and there's more room for the headlinesecond, their positioning makes it clearer that you can scroll horizontally in each news category to reveal more stories (we noticed that in user testing some people assumed there were only three stories a section).
There is a new layout on iPad when you view the home screen in portrait mode - designed to show more headlines and make it easier to find the stories you're interested in.
Among the bugs that we've fixed is an issue that sometimes caused the app to get stuck when updating, and another where you sometimes saw duplicate stories within a single news category.
For our product team, these improvements required a fairly major reworking of the app's code. The good news is that they are now working from a more stable base which can be built on with new features and functionality. This revising of our code is something we've already done with our Android app, so we'll now be able to release upgrades simultaneously on both iOS and Android, which are by far the largest mobile platforms for us in terms of users. This latest update is already available internationally.

If you're a user of the app, or decide to try it out, we hope you'll like the improvements we've made. And as we think about our apps generally and plan our next steps, we'd like to hear about what you'd most like to see in future.
Steve Herrmann is editor of the BBC News website.


So it's here. School Report News Day 2013 is upon us - and about 1,000 schools are due to take part, making the news that matters to them.
They will appear across BBC News - on TV, radio and online and on regional news programmes.
The project is now in its seventh year, and is bigger than ever. School reporters are in Canterbury to witness the enthronement of the new Archbishop of Canterbury Justin Welby, and we also return to the Olympic Park in London to examine the legacy from the 2012 games. And there's more - the BBC School Report website has full details of the range of topics being covered.
It is all a far cry from when we began. A small team started School Report with the aim of giving teenagers the opportunity to make the news they thought mattered. Giving them hours of BBC airtime was nerve-wracking, but it proved to be a success.
In that first year - 2007 - we worked with 12- and 13-year-olds in 120 schools. What I most remember from that year is seeing school reporters on the Six O'Clock News and thinking that this partnership between schools and the BBC had developed into something bigger than we ever thought it could be.
Fast-forward to 2013 and we are able to reach even further, both in geographical terms and into the BBC's output. We'll be broadcasting live from Radio Foyle in Londonderry, and taking over the flagship Radio 4 programme Woman's Hour.
There will also be a dedicated School Report Live channel accessible through the Red Button. We'll be updating a live news feed on our website and our @BBCSchoolReport Twitter feed throughout the day, so please follow what our school reporters are doing and let us know what you think.
Helen Shreeve is editor of BBC News School Report.



 By Faris Couri, editor of the BBC Arabic Service

It is no secret that recent Arab uprisings have placed enormous burdens on the shoulders of BBC Arabic journalists responsible for reporting news from the region.
Covering the Arab world is not always an easy task - we need to mix sensible caution with a dose of courage in covering political issues that attract so many disputed views among Arabic-speaking audiences.

Our guiding principles are the BBC's values, its editorial guidelines, its ethical code, which are our reference points to maintain impartial, balanced and accurate reporting.

Across the Arab world - whether it's Tunisia, Yemen, Egypt or Libya, Bahrain, Syria and Iraq or the many other countries in the region - we know that audiences want access to objective and independent news, far removed from an agenda that favours one party, religion or sect against another. That is why audiences are turning to BBC Arabic.

Last year, our latest figures show that overall audiences to BBC Arabic have risen by more than 17% to a record high of 25.3 million adults weekly. That includes a big surge of 2.9 million in Saudi Arabia and 2.7 million in Egypt, where TV viewers in particular turned to the BBC to better understand the events happening in their own country. Our radio audiences are also holding up despite the reductions in transmission. Online is proving to be more of a challenge, but we are working hard to understand the needs of digital audiences and those for whom social media plays an increasingly important part in their lives.

In 2011, following the fall of the Mubarak leadership, we watched as ordinary Egyptians carried banners saying "Thank you, BBC!" But meeting the high expectation of audiences has a price and sometimes it's been a heavy one.

March 2011 brought a strong reminder of the risks that our staff face in covering the news - one of our reporters was arrested and tortured by Muammar Gaddafi's forces during the Libya uprising. In early 2012, our reporter in Yemen was beaten and received death threats from supporters of the outgoing president.

We are also challenged by those who disagree with our coverage. In countries such as Syria and Bahrain, BBC Arabic has been accused of bias.

The criticism comes from opposition and government alike. It may be a valid argument to say that getting criticism from both sides, in the case of Arab world certainly, is an indication of balanced coverage.

On Syria, for example, we had a series of documentaries looking at the civil war from a number of perspectives.
The first one, exploring what it's like to work for a Syrian television channel that's the mouthpiece of the government, was the butt of criticism and threats from Syrian opposition quarters. We followed it up with a programme charting a day in the lives of six Syrian women, five of whom were anti-government activists.
In our day-to-day news coverage, presenting a variety of voices from Syria is essential to us. And that is what distinguishes BBC Arabic from many media outlets in the Arab world which promote political views and agendas, and that is what we are determined to keep.

BBC Arabic marked its 75th anniversary in January. Arab politicians and ordinary people have expressed their appreciation of our track record of impartiality and trusted news. I am confident that the coming years will see further achievement on all our platforms - TV, radio and online.



Moving BBC World News, the BBC's largest television channel, from west London to New Broadcasting House in the centre of the city is a huge project that has taken years of planning.
Relaunching and rebranding every hour of its 24 hours of output to give audiences around the world a new exciting polished HD product has made that huge project even more challenging.
Hopefully on Monday at 1200 GMT, the hard work of our 100 dedicated staff will give our audiences a bolder, brighter, more engaging look for the channel they trust to give them independent, objective news and analysis from more correspondents, in more locations, than any other international broadcaster.
Meticulous planning began about three years ago - everything from the new look of our studios to bicycle parking. We tested our studio systems - literally to breaking point - then fixed them and began the dual-running piloting that has split our newsroom teams between those keeping us on air back at Television Centre and those training and developing our programmes in our new home.
We're calling our new location The World's Newsroom because it truly reflects the world we report. We now work with colleagues from 27 language services who report for us from far flung bureaus and in London, allowing us to celebrate their unique expertise - something no other broadcaster can offer.


We'll be introducing you to those new colleagues and our new location in special live reports from inside New Broadcasting House and offering enhanced social media access so you can enjoy behind-the-scenes access.


Audiences have also told us they want to engage more with the stories we tell - to feel closer to the issues we report. We're going to help you "live the story" with us. It's our new channel ethos.
Our correspondents - expert, brave, tough, determined - live and work where they report, and we want audiences to understand their passion for the stories they cover. So expect a new style of reporting from the field. And we'll be everywhere for our relaunch with live and exclusive reports planned from Syria, China, the US and Burma to name just a few.
In the studio, trusted and familiar presenters will be sharing the day's top stories - with a sprinkling of new faces on air. We'll have a more dynamic look, with robot cameras whizzing around our studios, improved graphics and high definition screens to enhance our ability to explain and analyse. We even have some virtual reality surprises planned.
We're also developing new long-form programmes, so expect to see new hard-hitting and timely documentary series. There'll be fresh new editions of favourites such as HARDTalk with Stephen Sackur (our interrogator-in-chief), Click for the latest on tech and Health Check for medical breakthroughs.
BBC World News has come a long way since it launched as a shoestring commercial operation in a backroom at Television Centre more than 20 years ago. Our audiences have grown massively. We're required viewing from the President's White House in Washington to the President's Blue House in Seoul. And in an era when bad mortgages in the US can trigger a global economic meltdown, we know there is a huge appetite for world news delivered fast, accurately and objectively.
We hope you'll enjoy our new look. And we hope you'll join us in the world's newsroom.
Andrew Roy is head of news for BBC World News



BBC World News will soon be available in Burma. Those are words that, even six months ago, I would not have imagined writing. But Burma, a byword for media censorship and repression, is starting to open up.
In September I visited Burma to begin the negotiations which led to this breakthrough in BBC distribution. I was struck by how rapid the media changes are for a country where state media had been long stuck in a repressive timewarp.
A World Service team visited the state broadcaster. We saw the most surreal newsroom I have ever visited. There were no journalists there. "Why not?" we asked. "We don't need them yet. The news hasn't arrived."
We learnt the news is literally delivered once a day by the state news agency. The job of the journalists was to read it out, word for word, unaltered.
But those journalists and editors are now keen to have the BBC's help in learning about open and balanced journalism. It will be a long road, given the ingrained habits of censorship and self-censorship.
But the BBC, through its pioneering media development charity BBC Media Action, is able to offer training to editors and journalists to teach them what independent journalism is. Even officials from the Ministry of Information, the former censors, asked if they could go on BBC journalism courses. Alongside the desire for training, the opening up of Burma to international broadcasters is naturally to be welcomed.
However, there is a long way to go. The massively popular BBC Burmese service, which we estimate is listened to by more than eight million people a week, is not yet allowed to broadcast within Burma. It is transmitted only on shortwave, faithfully listened to, as Aung San Suu Kyi has done for so many years. We urge the government to fully open its airwaves.
And we told the Burmese government that the BBC would continue to scrutinise the country closely. Indeed, as it becomes possible for our journalists to travel within the country, reports such as Fergal Keane's recent searing Newsnight film on human rights abuses in Rakhine state, will form a key part of the BBC's role in the country.
We will also continue to report the progress being made in the political and economic spheres.
At this early stage of opening up, it is hard to know if the hopes of media freedom will be fulfilled, but it is at least an encouraging sign that the BBC can now report from and to the country in English.
Authoritarian governments everywhere are asking themselves if they can and should hold back the free flow of news any more. And, as they ask themselves these questions, politicians, officials and journalists are looking to the BBC as the international exemplar of quality, impartial and independent journalism.
Peter Horrocks is the director of BBC Global News


This week viewers to BBC World News have been watching a series of reports focusing on the Arab uprisings, two years after they first began. Correspondents have been in Damascus, Tunis, Cairo, the Syria-Lebanon border and elsewhere. Their eyewitness TV reporting is accompanied by further explanation and analysis on our website, bbc.com/news. These are expert journalists, with years of experience and knowledge, living the story on behalf of the audience. They demonstrate our commitment to reporting the world, and bringing clarity to complex events.

Until now, however, viewers in the world's biggest TV market, the US, have found it hard to access BBC reporting of this kind. The market is saturated with TV channels, but for the past couple of years we've been very focused on securing widespread carriage on the distribution systems which bring TV into most homes.

So today the BBC is delighted to announce we have agreed to a partnership with the US cable giant - Time Warner Cable - and through this and other deals, a further 10 million homes in the US will have access to BBC World News 24 hours a day, seven days a week.

This means by the end of this year we will be available in 25 million homes, including those in most of the major markets - New York, Washington DC, Los Angeles, Chicago, Boston. There is still some way to go before we can say we have reached everyone - but 2012 has been a year of significant breakthroughs for us in the US.

The BBC is already well-known in America through its partnerships with public radio, through the success of our website BBC.com/news, and because of our nightly broadcast on public television fronted by Katty Kay. We believe our brand of high-quality, intelligent and non-partisan journalism has something to offer US audiences, and we're determined to make access to our services as simple as possible.

The timing could not be better. We're just a few weeks away from the first broadcasts of BBC World News from our brand new headquarters in central London. Three new studios, a big investment in production and journalism, and working more closely with BBC journalists working in English and 27 other languages - it's more than just a new home, it's a new start. We're delighted to share that even more widely.

Richard Porter is controller of English at BBC Global News


This week marks 15 years since BBC Online was born. At about the same time, the BBC's news website also went live. The number of people visiting the news site has grown enormously over the years, and here you can see how traffic has increased, spiking at key news events, and how the appearance of the site's front page has changed over the years too. Meanwhile, for the 15th anniversary, the BBC's Director of Future Media Ralph Rivera has blogged about the significance of BBC Online today and the continuing importance of innovation to the BBC.
Steve Herrmann is editor of the BBC News website.


Back in July we announced that we'd be working with the Knight-Mozilla fellowship for a second year and invited applications from people passionate about working with technology and journalism, and keen to have an impact in this area at the BBC.
My colleague, senior product manager Andrew Leimdorfer, has this update:
We are pleased to announce that we have decided on our new Knight-Mozilla fellow, Noah Veltman, who will be starting with us in January 2013.
Noah is one of eight 2013 fellows who will all be announced at this weekend's sold-out Mozilla Festival in London who will be based in news organisations around the world, including the Guardian and the New York Times.
There are so many ways that technology is changing journalism that our first challenge is going to be to make a choice about which of these areas Noah will be helping us with next year. Working on new data visualisations and developing innovative content for mobile web will be high on the list.
We welcome Noah to the team and wish all the Knight-Mozilla fellows all the best in 2013.


BBC coverage of the US election, which my colleague Jon Williams trailed here a couple of days ago, brought the highest traffic to BBC News Online so far this year, and set a new record for us on mobile.

    3 of the 4 error types should be addressed now:
    + removed capture of story_id
    + Hard stop / truncate + exapnded field for title
    + Hard stop / truncate + expanded field for summary
        + also am now "preprocessing" html summary stuff w/ bs4 to go ahead and just extract the text from the html. This makes the entries shorter overall, thus reducing storage space.  however, things like links in the summaries are now removed...
    
    Expanded the "link" field in the db, but did not force truncate yet, which means stuff will still pop up...

In [288]:
bs('i ma a frong', 'html.parser').text

'i ma a frong'

In [298]:
mysql_utils.saveNewLinks(contents)

[64230,
 64231,
 64232,
 64233,
 64234,
 64235,
 64236,
 64237,
 64238,
 64239,
 64240,
 64241,
 64242,
 64243,
 64244]

### URL Errors

In [299]:
urle = errors[errors.err_class=="<class 'urllib.error.URLError'>"]
urle.shape

(3016, 5)

In [300]:
urle.tail()

,entry,day,entry_ind,is_error,err_class
2017-03-01 05:02:04,Feed https://phys.org/rss-feed/chemistry-news/...,2017-03-01,373,True,<class 'urllib.error.URLError'>
2017-03-01 05:02:05,Feed https://phys.org/rss-feed/chemistry-news/...,2017-03-01,373,True,<class 'urllib.error.URLError'>
2017-03-01 05:02:06,Feed https://phys.org/rss-feed/chemistry-news/...,2017-03-01,373,True,<class 'urllib.error.URLError'>
2017-03-01 05:02:07,Feed https://phys.org/rss-feed/chemistry-news/...,2017-03-01,373,True,<class 'urllib.error.URLError'>
2017-03-01 05:02:09,Feed https://phys.org/rss-feed/chemistry-news/...,2017-03-01,373,True,<class 'urllib.error.URLError'>

In [303]:
urle.entry.unique()[:10]

array([ "Feed https://phys.org/rss-feed/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/editorials/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/earth-news/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/earth-news/earth-sciences/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/earth-news/environment/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/science-news/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/science-news/archaeology-fossils/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/science-news/economics-business/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/science-news/mathematics/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)",
       "Feed https://phys.org/rss-feed/science-news/sci-other/: <class 'urllib.error.URLError'>: (GeneralProxyError(),)"], dtype=object)

In [304]:
roots = urle.entry.apply(lambda x: x[5:22])

In [308]:
len(roots.unique())

1

In [309]:
feed_data = utils.load_feedlist_data('physorg_feedlist.xml')

In [313]:
for i,f in enumerate(feed_data[:15]):
    print(str(i) + ' ' + f['Link'])

0 https://phys.org/rss-feed/
1 https://phys.org/rss-feed/editorials/
2 https://phys.org/rss-feed/earth-news/
3 https://phys.org/rss-feed/earth-news/earth-sciences/
4 https://phys.org/rss-feed/earth-news/environment/
5 https://phys.org/rss-feed/science-news/
6 https://phys.org/rss-feed/science-news/archaeology-fossils/
7 https://phys.org/rss-feed/science-news/economics-business/
8 https://phys.org/rss-feed/science-news/mathematics/
9 https://phys.org/rss-feed/science-news/sci-other/
10 https://phys.org/rss-feed/science-news/social-sciences/
11 https://phys.org/rss-feed/nanotech-news/
12 https://phys.org/rss-feed/nanotech-news/bio-medicine/
13 https://phys.org/rss-feed/nanotech-news/nano-materials/
14 https://phys.org/rss-feed/nanotech-news/nano-physics/

In [307]:
log[log.entry_ind==373].head()

,entry,day,entry_ind,is_error,err_class
2017-03-01 05:00:02,Retrieving contents...,2017-03-01,373,False,
2017-03-01 05:00:02,Total feeedss to visit: 250,2017-03-01,373,False,
2017-03-01 05:00:02,Creating 8 Tor openers...,2017-03-01,373,False,
2017-03-01 05:00:14,IP Used: b'65.19.167.132',2017-03-01,373,False,
2017-03-01 05:00:17,Total entries retrieved from https://www.thegu...,2017-03-01,373,False,

    No issues since beginning of March; this issue seems to be fixed now.

### HTTP Errors

In [344]:
htpe = errors['2017-03-02 00:00:00':].copy()
htpe = htpe[htpe.err_class == "<class 'urllib.error.HTTPError'>"]
htpe.shape

(182, 5)

In [345]:
htpe.tail()

,entry,day,entry_ind,is_error,err_class
2017-03-13 18:08:50,Feed http://www.ft.com/rss/management/connecte...,2017-03-13,489,True,<class 'urllib.error.HTTPError'>
2017-03-14 05:08:13,Feed http://www.ft.com/rss/world/mideast/econo...,2017-03-14,490,True,<class 'urllib.error.HTTPError'>
2017-03-14 05:09:12,Feed http://www.ft.com/rss/management/connecte...,2017-03-14,490,True,<class 'urllib.error.HTTPError'>
2017-03-14 06:08:19,Feed http://www.ft.com/rss/world/mideast/econo...,2017-03-14,491,True,<class 'urllib.error.HTTPError'>
2017-03-14 06:09:06,Feed http://www.ft.com/rss/management/connecte...,2017-03-14,491,True,<class 'urllib.error.HTTPError'>

In [346]:
roots = htpe.entry.apply(lambda x: x[5:22])

In [347]:
roots.unique()

array(['http://www.ft.com', 'http://feeds.foxn'], dtype=object)

In [348]:
len(htpe.entry.unique())

3

In [349]:
htpe.entry.unique()

array([ "Feed http://www.ft.com/rss/management/connected-business: <class 'urllib.error.HTTPError'>: ()",
       "Feed http://www.ft.com/rss/world/mideast/economy: <class 'urllib.error.HTTPError'>: ()",
       "Feed http://feeds.foxnews.com/foxnews/entertainment: <class 'urllib.error.HTTPError'>: ()"], dtype=object)

In [351]:
htpe[htpe.entry==list(htpe.entry.unique())[2]]

,entry,day,entry_ind,is_error,err_class
2017-03-13 13:00:44,Feed http://feeds.foxnews.com/foxnews/entertai...,2017-03-13,484,True,<class 'urllib.error.HTTPError'>

    The first two do not exist; they were removed.  The latter looks like an accident...
    There were others, but these stopped occurring after the url issue was fixed at the beginning of March 2017